/*
* field.css
*
* Field-specific styles and CSS variables
*/

:root {
  /* Field Default */
  --field-label: var(--gray-12);
}

.dark {
  /* Field Default */
  --field-label: var(--gray-10);
}

@theme inline {
  /* Field Default */
  --color-field-label: var(--field-label);
}
