/*
* switch.css
*
* Switch-specific styles and CSS variables
*/

:root {
  /* Switch Default */
  --switch: var(--gray-8);
  --switch-hover: var(--gray-9);
  --switch-checked: var(--green-9);
  --switch-checked-hover: var(--green-11);
  --switch-unchecked: var(--gray-8);
  --switch-unchecked-hover: var(--gray-9);

  /* Switch Theme */
  --switch-theme-checked: var(--gray-8);
  --switch-theme-checked-hover: var(--gray-9);

  /* Switch Panel */
  --switch-panel-checked: var(--gray-8);
  --switch-panel-checked-hover: var(--gray-9);
  --switch-panel-unchecked-hover: var(--gray-9);
}

.dark {
  /* Switch Default */
  --switch: var(--gray-3);
  --switch-hover: var(--gray-2);
  --switch-checked: var(--green-9);
  --switch-checked-hover: var(--green-10);
  --switch-unchecked: var(--gray-8);
  --switch-unchecked-hover: var(--gray-9);

  /* Switch Theme */
  --switch-theme-checked: var(--gray-8);
  --switch-theme-checked-hover: var(--gray-9);

  /* Switch Panel */
  --switch-panel-checked: var(--gray-8);
  --switch-panel-checked-hover: var(--gray-9);
  --switch-panel-unchecked-hover: var(--gray-9);
}

@theme inline {
  /* Switch Default */
  --color-switch: var(--switch);
  --color-switch-hover: var(--switch-hover);
  --color-switch-checked: var(--switch-checked);
  --color-switch-checked-hover: var(--switch-checked-hover);
  --color-switch-unchecked: var(--switch-unchecked);
  --color-switch-unchecked-hover: var(--switch-unchecked-hover);

  /* Switch Theme */
  --color-switch-theme-checked: var(--switch-theme-checked);
  --color-switch-theme-checked-hover: var(--switch-theme-checked-hover);

  /* Switch Panel */
  --color-switch-panel-checked: var(--switch-panel-checked);
  --color-switch-panel-checked-hover: var(--switch-panel-checked-hover);
  --color-switch-panel-unchecked-hover: var(--switch-panel-unchecked-hover);
}
