@import "../packages/ui/src/styles/globals.css";

@source "../node_modules/@greyboard/ui";
@source "../node_modules/@greyboard/editor";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .titlebar-drag {
    -webkit-app-region: drag;
    -webkit-user-select: none;

    button, a {
      -webkit-app-region: no-drag;
    }
  }
}
